<%= render partial: '/layouts/subheader', locals: {title: "Valente Sparen"} %>


<section>
  <ul>
    <li class="dashboard_button grey-button"><%= link_to 'Programs', programs_path %></li>
    <li class="dashboard_button grey-button"><%= link_to 'Users', users_path %></li>
    <li class="dashboard_button grey-button"><%= link_to 'Vouchers', vouchers_path %></li>
    <li class="dashboard_button grey-button"><%= link_to 'activities', activities_path %></li>
    <li class="dashboard_button grey-button"><%= link_to 'punches', punches_path %></li>
  </ul>
</section>

