<!DOCTYPE html>
<html>
<head>
  <title>Trx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="page-header"></header>

<div class="layout">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>


<footer id="footer" class="page-footer"></header>
</body>
</html>
